ion-content{
    --background: #f6f6f6;
}
ion-card{
    background-color: #ffffff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); /* Stronger shadow effect */
}

ion-button.custom{
    --background: #866A80;
}